@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* .text-shpere{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e1e1e;
}
.tagcloud{
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    letter-spacing: 0.0.625em;
    font-size: 1.3rem;
}
.tagcloud--item{
    color: #00ffffff;
    text-transform: uppercase;
}
.tagcloud--item:hover{
    color: #ff6347;
} */

.skill__container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.skill__card{
    background: rgb(82, 82, 85);
}
.skill__list{
    list-style: none;
}
.skill__list > li{
    font-size: small;
    position: relative;
    top: -2rem;
}
.skill__card{
    background-color: var(--color-bg-variant);
    border-radius: 1rem;
    padding: 2rem;
    padding-bottom: 0;
}
.skill__card:hover{
    background: transparent;
    border: 1px solid var(--color-primary-variant);
    transition: var(--transition);
}
.skill__name{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
}
#skill{
    height: fit-content;
}
.skill__card-item{
    position: relative;
}
.skill__icon{
    position: relative;
    /* border-radius: 50%; */
    /* background: green; */
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: var(--color-bg);
    /* left: 35%; */
    top: -6rem;
    font-size: 2rem;
    height: 40px;
    width: 40px;
    text-align: center;
    margin: auto;
}
.skill__icon > svg{
    top: -5px;
    position: relative;
}
.tick{
    color: brown;
    text-align: center;
    position: relative;
    top: 2px;
}
#skill{
    min-height: auto;
}
.skill__container>*:nth-child(6){
    display: none;
}
/* ================Medium Devices =============*/
@media  screen and (max-width: 1024px) {
    .skill__container{
        grid-template-columns: repeat(3,1fr);
    }
    .skill__container>*:nth-child(6){
        display: block;
    }
 }


/* ================Small Devices =============*/
@media  screen and (max-width: 600px){
    .skill__container{
        grid-template-columns: repeat(2,1fr);
    }
 }